@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Zen+Dots&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: "Montserrat", sans-serif;
}
html {
  overflow-x: hidden !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
}
a.linkreq {
  color: blue !important;
  text-decoration: underline !important;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
}

.sepration {
  background: var(--sepration);
  width: 100%;
  height: 1px;
}
.flex-justify {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.red {
  color: red !important;
}
.green {
  color: green;
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(0, 0%, 80%);
  }

  100% {
    background-color: hsl(0, 0%, 95%);
  }
}

/* bootstrap settings */

/* setting up colors */

:root {
  --primary-color: #16003b;
  --primary-color-light: #c8c3d3;
  --primary-color-glass: #16003ba1;
  --glass-morph: rgb(255, 255, 255, 0.2);
  --back-drop: #04000cb7;
  --blue: rgb(0, 127, 255);

  /* borders and seprations */
  --sepration: rgb(228, 228, 228);

  /* text */
  --text-1: #000;
  --text-2: #444;
  --text-3: #666;
  --text-4: #777;
  --text-white: #fff;
  --text-white-light: rgb(235, 235, 235);
}
